* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.first-flex {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  font-size: 1.3rem;
}

.first-flex h2{
  padding-top: 5px;
}

.items{
  padding-top: 10px;
}

.items a {
  padding: 30px;
}

a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

a:hover {
  color: gray;
}


/* first sec */
.container {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container p {
  padding: 5px;
}

.btns {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns button {
  margin: 10px;
  padding: 8px;
  width: 150px;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: 350px;
  height: 500px;
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
}

.box > strong {
  font-size: 1.2rem;
}

.box h2 {
  font-size: 2.3rem;
}

.box3 {
  background-color: black;
  color: white;
}

.box ul {
  margin-top: 20px;
}

.box ul li {
  padding: 5px;
}
.tagline {
  margin-left: 5px;
  background-color: rgb(203, 151, 88);
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.last-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.last-btn button {
  width: 300px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}