*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/* navbar */
.first-flex {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  font-size: 1.3rem;
}

.first-flex h2{
  padding-top: 5px;
}

.items{
  padding-top: 10px;
}

.items a {
  padding: 30px;
}

a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

a:hover {
  color: gray;
}

/* body */
.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../imgs/images.jpg);
    background-position: center;
    background-size: cover;
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    margin-top: 200px;
}

h1{
    font-size: 4rem;
}

.boxes{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 200px;
}
.icon{
    background-color: rgb(222, 218, 218);
    padding: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
}

i{
    margin: 15px;
    font-size: 2rem;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}